<!DOCTYPE html>
<html lang="en">

<head>

  <!-- CSS STYLE SHEET -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <title>Start Quiz</title>
</head>
<body>
  <center>
    <h1>Welcome to Online Quiz</h1>
  </center>
<!-- Nav -->
  <nav class="navbar navbar-light bg-light">
    <form class="form-inline">
      <a href="/quiz">
        <button class="btn btn-outline-success" type="button">Click Button For Start Quiz</button>
      </a>
    </form>
  </nav>
</body>
</html>